/***
 *    ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┃
 *    ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *
 */

/* Colors */
@import '../../.cache/hellwal/waybar-colors.css';

* {
    font-family: "JetbrainsMono NFP SemiBold";
}

/* Notification */

.notification {
    background: @background;
    margin-top: 5px;
    color: @foreground;
    border: 2px solid @color2;
    border-radius: 10px;
    padding: 2px 8px;
}

.body {
    font-size: 15.1px;
    /* using 15px some fucking how makes the text gets cut off */
    color: @foreground;
}

.summary {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @color2;
    text-shadow: none;
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @foreground;
    text-shadow: none;
    margin-right: 18px;
}

.close-button {
    background-color: @color1;
    color: @color0;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @foreground;
    background: transparent;
}

.notification.critical progress {
    background-color: @color1;
}

.notification.low progress,
.notification.normal progress {
    background-color: @color2;
}

/* Control Center */

.control-center {
    background-color: @background;
    color: @foreground;
    border: 3px solid @color2;
    padding: 10px;
}

/* Notifications expanded-group */

.notification-group {
    background-color: transparent;
    margin: 2px 8px 2px 8px;
    font-size: 14px;

}

.notification-group-icon {
    color: @foreground;
}

.notification-group-headers {
    color: @foreground;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: @color2;
    color: @color0;
    margin: 4px;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @color1;
    color: @color0;
}


/* widget title */
.widget-title {
    color: @foreground;
}

.widget-title>button {
    font-size: 1rem;
    color: @foreground;
    background: color-mix(in srgb, @color8 80%, black);

    box-shadow: none;
}

.widget-title>button:hover {
    background: @color1;
    color: @color0;
}

/* widget button grid */
button {
    border: 0px;
    min-width: 35px;
    background: @color8;
}

.widget-buttons-grid {
    font-size: x-large;
    background: color-mix(in srgb, @color8 80%, black);

}

.widget-buttons-grid>flowbox>flowboxchild>button {
    color: @foreground;
    margin: 8px;
    padding: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: alpha(@foreground, 0.55);
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
    background: @color2;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked label {
    color: @color0;
}

/* dnd widget */
.widget-dnd {
    background: transparent;
    border: 1px solid transparent;
    font-size: large;
    color: @foreground;
}

.widget-dnd>label {
    color: @foreground;
}

.widget-dnd>switch {
    background: @color8;
    color: @foreground;
    border-radius: 6px;
}

.widget-dnd>switch:checked {
    background: @color1;
    border: 1px solid @color1;
}


/* volume & backlight widget */
.widget-volume {
    background: color-mix(in srgb, @color8 80%, black);

    color: @foreground;
    font-size: x-large;
}


.widget-backlight {
    background: color-mix(in srgb, @color8 80%, black);

    color: @foreground;
    font-size: x-large;
}

/* music player widget */
.widget-mpris {
    background: transparent;
    margin: 8px;
}

.widget-mpris button {
    background-color: transparent;
    border-radius: 6px;
}

.widget-mpris button:hover {
    background-color: @color2;
    color: @color0;
}


/* sliders in backlight and volume */

trough slider {
    background: @foreground;
}

trough slider:hover {
    background: @color2;
}


trough highlight {
    background: @color2;
}

scrollbar,
scrollbar trough,
scrollbar slider {
    all: unset;
    background: transparent;
    min-width: 0px;
    min-height: 0px;
}